@font-face {
    font-family: SourceSansPro;
    src: url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
}

.primary {
    background-color: rgb(32, 35, 36);
}

body {
    background-color: rgb(32, 35, 36);
}

h1 {
    color: white;
    font-family: SourceSansPro;
}